.text-button {
  display: inline;
  appearance: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  color: white;
  cursor: pointer;
}

.flat-button {
  display: block;
  width: 100%;
  padding: 0.75em 0.5em;
  background-color: $header-color;
  color: white;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: lighten($header-color, 10%);
  }

  .loader-small {
    opacity: 0;
  }

  &--loading {
    span {
      opacity: 0;
    }

    .loader-small {
      opacity: 1;
    }
  }
}

.nav-button {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  margin: 0;
  appearance: none;
  border: 2px solid white;
  background-color: white;
  color: $header-color;
  border-radius: 0;
  font-size: 18px;

  &:hover {
    opacity: 0.97;
  }

  &:first-child {
    @include breakpoint(mobile_nav) {
      border-right: 0;
    }
  }
  &:last-child {
    @include breakpoint(mobile_nav) {
      border-left: 0;
    }
  }
  
  svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;

    * {
      fill: $header-color;
    }
  }

  &--active {
    color: white;
    background-color: $header-color;
    svg * {
      fill: white;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.play-button {
  position: absolute;
  width: 64px;
  height: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  appearance: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: white;
  cursor: pointer;
  background: transparent url('/images/play-button.png') 50% 50% no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: -999px;
  transition: all 0.2s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.arrow-button {
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  height: 60px;
  appearance: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: $header-color;
  color: white;
  cursor: pointer;
  background-size: auto 50%;
  background-position: 50% 50%;
  overflow: hidden;
  text-indent: -999px;
  background-repeat: no-repeat;

  &:hover {
    background-color: #363636;
  }

  &--next {
    right: 0;
    background-image: url('/images/arrow-right.svg');
  }

  &--prev {
    left: 0;
    background-image: url('/images/arrow-left.svg');
  }
}
