.dropdown {
  position: relative;
  z-index: 10;
  background: white;
  color: $header-color;
  color: $dark-text-color;

  &__button {
    border: 0;
    outline: none;
    border-radius: 0;
    background: inherit;
    color: $header-color;
    appearance: none;
    cursor: pointer;

    .dropdown--country & {
      text-decoration: underline;
    }

    .dropdown--language & {
      position: relative;
      z-index: 1;
      display: block;
      padding: 5px 50px 5px 15px;
      width: 100%;
      text-align: left;
      background: url(/images/arrow-down.png) calc(100% - 15px) 50% no-repeat;
      background-size: 12px auto;
    }
  }

  &__options {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0.5em 0 0.5em 0;
    background: white;
    font-size: 16px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);

    .dropdown--country & {
      font-size: 20px;
    }

    .dropdown--language & {
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    }

    .dropdown--open & {
      display: block;
    }
  }

  &__option {
    display: block;
    margin: 0;
    padding: 0.25em 1em;
    border: 0;
    outline: none;
    border-radius: 0;
    white-space: nowrap;
    background: inherit;
    color: inherit;
    appearance: none;
    cursor: pointer;

    &:hover {
      color: $header-color;
    }
  }

  &--country {
    
  }
}