.feedback-form {
  $breakpoint: 600px;
  $label-width: 120px;
  color: #363636;
  
  @media (min-width: 600px) {
    width: 540px;
  }

  &__description {
    min-height: 110px;

    @media (min-width: $breakpoint) {
      background: transparent url('/images/wb-logo-red-desktop.svg') 0 5px no-repeat;
      background-size: 100px auto;
      padding-left: $label-width;
    }

    h2 {
      margin: 0;
    }
  }

  .flat-button {
    position: relative;
    clear: both;
  }

  .captcha {
    position: relative;
    float: right;
    margin: 1em 0 1.5em 0;

    &__error {
      position: absolute;
      top: 0.25em;
      left: -0.5em;
      transform: translate(-100%, 0);
      color: red;
      text-align: right;
    }
  }

  .field {
    position: relative;
    margin-bottom: 0.5em;

    &__error {
      position: absolute;
      right: 0.5em;
      top: 50%;
      transform: translate(0, -50%);
      color: red;
    }
  }

  input,
  textarea {
    display: inline-block;
    width: 100%;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 0;
    @media (min-width: $breakpoint) {
      width: calc(100% - #{$label-width});
    }
  }

  input,
  textarea,
  label {
    padding: 0.4em 0.5em;
  }

  textarea {
    height: 160px;
    
    + .field__error {
      top: 0.5em;
      transform: none;
    }
  }

  label {
    display: block;
    vertical-align: top;
    padding-left: 0;
    font-weight: bold;
    @media (min-width: $breakpoint) {
      display: inline-block;
      width: $label-width;
    }
  }
}

.feedback-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  background: transparent url('/images/modal-icon-close.svg') 50% 50% no-repeat;
  background-size: cover;
  appearance: none;
  border: 0;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}

.feedback-container {
  padding-top: 1em;
}