.site-footer {
  height: $footer-height-small;
  line-height: $footer-height-small;
  @include breakpoint(mobile_nav) {
    height: $footer-height-large;
    line-height: $footer-height-large;
  }
  background-color: $footer-color;

  &__container {
    @include container;
  }

  &__copyright {
    float: right;
  }
}