body {
  font-family: 'PT Sans', sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;

  &.active {
    color: blue;
  }
}

.wrapper {
  
}

.page {
  position: relative;
  min-height: calc(100vh - #{$footer-height-small});
   @include breakpoint(mobile_nav) {
    min-height: calc(100vh - #{$header-height-large + $footer-height-large});
   }
  
  color: black;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}