.site-header {
  position: fixed;
  z-index: 15;
  width: 100%;
  padding: 10px 0;
  background: $header-color;
  color: white;
  @include clearfix;
  @include breakpoint(mobile_nav) {
    position: relative;
    width: auto;
    height: $header-height-large;
  }

  &__container {
    position: relative;
    @include container;
    @include clearfix;
  }

  &__logo {
    display: block;
    width: 80px;
    height: 50px;
    background: url('/images/wb-logo-white.svg');
    background-size: cover;
    overflow: hidden;
    text-indent: -999px;
    @include breakpoint(mobile_nav) {
      background-image: url('/images/wb-logo-white-desktop.svg');
      width: 190px;
      height: 128px;
      margin-top: 20px;
    }
  }

  &__menu-toggle {
    @include clearbutton;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 60px;
    height: 70px;
    background: url('/images/menu-icon.svg') calc(100% - 15px) 50% no-repeat;
    background-size: 32px auto;
    text-indent: -999px;
    cursor: pointer;
    @include breakpoint(mobile_nav) {
      display: none;
    }

    &--close {
      background-image: url('/images/menu-icon-close.svg');
    }
  }
}

.language-dropdown-wrapper {
  position: relative;
  
  @include breakpoint(mobile_nav) {
    position: absolute;
    right: 30px;
    top: 0;
  }
}