.list-page-header {
  position: relative;
  font-size: 1.5em;
  margin: 1em 0;
  text-align: center;
  font-weight: bold;
  color: $dark-text-color;
  @include breakpoint(mobile_nav) {
    margin: 1em 0;
    font-size: 2.25em;
  }

  .country-dropdown-wrapper {
    
    span,
    .dropdown
    {
      display: inline-block;
    }

    span:last-child {
      color: $header-color;
    }
  }
}

.gutter-sizer {
  width: 0;
  @media(min-width: 680px) {
    width: 30px;
  }
}

.list-wrapper {
  @include container;
  animation: fadeIn 0.5s ease;

  .flat-button {
    position: relative;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list {
  position: relative;
  margin-bottom: 2em;
}

.item {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  animation: itemFadeIn 0.3s ease 1;

  @media (min-width: 680px) {
    width: calc(50% - 15px);
    margin-bottom: 0;
  }
  @media (min-width: 1000px) {
    width: calc(33.32% - 20px);
  }

  &__header {
    padding: 0;
    background-color: $single-view-color;
    @include use-themes;

    + .item__section {
      position: static;
      padding-top: 0;
    }
  }

  &__heading {
    font-size: 1em;
    margin: 0;
  }

  &__title {
    margin: 0;
    padding: 0.5em 0 0.5em 22px;
  }

  &__section {
    position: relative;
    padding: 3em 10px 10px 10px;
    background-color: $single-view-color;
    @include use-themes;
    
    + .item__section {
      margin-top: 1em;
      &:before {
        position: absolute;
        top: -1em;
        left: calc(50% - 3px);
        width: 6px;
        height: 1em;
        background-color: $single-view-color;
        @include use-themes;
        content: "";
      }
    }
  }

  &__slider {
    overflow: hidden;
    outline: none;
    width: 100%;
    padding-bottom: 1.5em;

    .flickity-page-dots {
      bottom: 0;

      .dot {
        background: white;

        &.is-selected {
          background: white;
        }
      }
    }
  }

  &__content {
    width: 100%;

    + .item__content {
      // margin-top: 1em;
    }
  }

  &__description,
  &__heading {
    padding: 0 12px;
  }

  &__icon {
    position: absolute;
    z-index: 1;
    right: -6px;
    top: -6px;
    width: 48px;
    height: 48px;
    border: 4px solid white;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-color: $single-view-color;
    @include use-themes;
    @include breakpoint(mobile_nav) {
      top: -12px;
      right: -15px;
    }
    
    &--video {
      background-image: url('/images/wb-video.svg');
    }

    &--image {
      background-image: url('/images/wb-image.svg');
    }

    &--article {
      background-image: url('/images/wb-article.svg');
    }
  }

  .image-wrapper {
    margin-bottom: 0.5em;
  }
}

.image-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */

  iframe,
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.share {
  background-color: $single-view-color;
  @include use-themes;
  padding: 0 10px 10px 10px;
  text-align: center;
}

.share-container {
  background: white;
  padding: 14px 0 10px 0;
}

.share-button {
  background-color: $single-view-color;
  @include use-themes;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  appearance: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: auto;
    height: 22px;
  }
}

.list-page-wrapper {
  padding-top: $header-height-small;
  @include breakpoint(mobile_nav) {
    padding-top: 0;
  }
}

@keyframes itemFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}