.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
}
.loader-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: 4px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  // position: relative;
  text-indent: -9999em;
  -webkit-animation: load6 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
}
@-webkit-keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #efefef, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #efefef, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #efefef, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #efefef, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #efefef, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #efefef, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #efefef, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #efefef;
  }
}
@keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #efefef, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #efefef, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #efefef, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #efefef, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #efefef, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #efefef, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #efefef, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #efefef;
  }
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff1d00, 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.5), -1.8em -1.8em 0 0em rgba(255,29,0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.7), 1.8em -1.8em 0 0em #ff1d00, 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.5), 1.8em -1.8em 0 0em rgba(255,29,0, 0.7), 2.5em 0em 0 0em #ff1d00, 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.5), 2.5em 0em 0 0em rgba(255,29,0, 0.7), 1.75em 1.75em 0 0em #ff1d00, 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.5), 1.75em 1.75em 0 0em rgba(255,29,0, 0.7), 0em 2.5em 0 0em #ff1d00, -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.5), 0em 2.5em 0 0em rgba(255,29,0, 0.7), -1.8em 1.8em 0 0em #ff1d00, -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.5), -1.8em 1.8em 0 0em rgba(255,29,0, 0.7), -2.6em 0em 0 0em #ff1d00, -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.5), -2.6em 0em 0 0em rgba(255,29,0, 0.7), -1.8em -1.8em 0 0em #ff1d00;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff1d00, 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.5), -1.8em -1.8em 0 0em rgba(255,29,0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.7), 1.8em -1.8em 0 0em #ff1d00, 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.5), 1.8em -1.8em 0 0em rgba(255,29,0, 0.7), 2.5em 0em 0 0em #ff1d00, 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.5), 2.5em 0em 0 0em rgba(255,29,0, 0.7), 1.75em 1.75em 0 0em #ff1d00, 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.5), 1.75em 1.75em 0 0em rgba(255,29,0, 0.7), 0em 2.5em 0 0em #ff1d00, -1.8em 1.8em 0 0em rgba(255,29,0, 0.2), -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.5), 0em 2.5em 0 0em rgba(255,29,0, 0.7), -1.8em 1.8em 0 0em #ff1d00, -2.6em 0em 0 0em rgba(255,29,0, 0.2), -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.5), -1.8em 1.8em 0 0em rgba(255,29,0, 0.7), -2.6em 0em 0 0em #ff1d00, -1.8em -1.8em 0 0em rgba(255,29,0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,29,0, 0.2), 1.8em -1.8em 0 0em rgba(255,29,0, 0.2), 2.5em 0em 0 0em rgba(255,29,0, 0.2), 1.75em 1.75em 0 0em rgba(255,29,0, 0.2), 0em 2.5em 0 0em rgba(255,29,0, 0.2), -1.8em 1.8em 0 0em rgba(255,29,0, 0.5), -2.6em 0em 0 0em rgba(255,29,0, 0.7), -1.8em -1.8em 0 0em #ff1d00;
  }
}
