.map {
  position: relative;
  overflow: hidden;

  // height: calc(100vh - #{$header-height-small});
  @include breakpoint(mobile_nav) {
    height: calc(100vh - #{$header-height-large} - #{$footer-height-large});
  }

  .map-container {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: mapFadeIn 0.7s ease-out 1 backwards;
    animation-delay: 0.75s;
    
    @include breakpoint(mobile_nav) {
      display: block;
    }
  }

  .item {
    width: 100%;
    margin-bottom: 2em;
  }

  .item__footer {
    display: none;
  }
}

.map-list {
    position: relative;
    overflow: hidden;
    padding-top: $header-height-small;
    @include breakpoint(mobile_nav) {
      top: 0;
      left: 0;
      z-index: 2;
      width: 540px;
      height: 100%;
      padding-top: 0;
      background: white;
    }
    animation: mapListSlideIn 0.4s ease-out 1;

    &__header {
      position: relative;
      z-index: 2;
      height: 100px;
      color: $header-color;
      text-align: center;
      box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);

      h2 {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
      }
    }

    &__list {
      overflow: auto;
      margin-right: 10px;
      height: calc(100% - 198px);
      &::-webkit-scrollbar              { -webkit-appearance: none; width: 7px;/* 1 */ }
      &::-webkit-scrollbar-button       { /* 2 */ }
      &::-webkit-scrollbar-track        { background: #eec9cd; margin-right: 5px;/* 3 */ }
      &::-webkit-scrollbar-track-piece  { /* 4 */ }
      &::-webkit-scrollbar-thumb        { background: #db221a;/* 5 */ }
      &::-webkit-scrollbar-corner       { /* 6 */ }
      &::-webkit-resizer                { /* 7 */ }

      .list {
        margin-top: 12px;
      }
    }

    .share {
      box-shadow: -10px 0 32px rgba(0, 0, 0, 0.3);
      background: none;

      .share-button {
        background-color: $header-color;
      }
    }
}

@keyframes mapListSlideIn {
  0% {
    transform: translate(-30%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
