@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($point) {
  @if $point == mobile_nav {
     @media (min-width: $mobile-nav-breakpoint-min) { @content ; }
  }
}

@mixin clearbutton {
  appearance: none;
  border: 0;
  outline: 0;
  border-radius: 0;
}

@mixin container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 8px;
  @include breakpoint(mobile_nav) {
    padding: 0 30px;
  }
}

@mixin use-themes {
  @for $i from 1 through length($themes) {
  .theme-#{$i} & { background-color:  nth($themes, $i); }
  }
}