.modal {
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.74902); 
  
  @media (min-width: 600px) {
    
  }

  &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background: #fff;
      overflow: auto;
      border-radius: 4px;
      outline: none;
      padding: 16px;
      @media (min-width: 600px) {
        top: 50%;
        left: 50%;
        width: auto;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        padding: 30px;
        border: 2px solid $header-color;
      }
  }
}

.ReactModal__Overlay {
  animation: fade 0.25s ease 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}