.nav-wrapper {
  display:none;
  padding-top: 1em;
  @include breakpoint(mobile_nav) {
    padding-top: 0;
    display: block;
  }

  &--visible {
    display: block; 
  }
}

.site-navigation {
  margin-top: 1em;
  padding: 0;
  @include clearfix;
  @include breakpoint(mobile_nav) {
    position: absolute;
    bottom: 18px;
    right: 15px;
    margin-top: 2em;
    padding: 0 15px;
  }

  .nav-button {
    padding-right: 12px;
    width: 100%;
    @include breakpoint(mobile_nav) {
      width: auto;
    }
  }
}
