.single {
  @include container;
  @include clearfix;
  margin-top: 2em;
  margin-bottom: 2em;

  .item {
    width: 100%;
    max-width: 600px;
    @media (min-width: 1100px) {
      float: left;
    }
  }

  .comments {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 2em;

    @media (min-width: 1100px) {
      margin-top: 0;
      float: right;
      width: calc(100% - 660px);
    }
  }
}

.fb-comments, .fb-comments iframe {width: 100% !important;}
.fb_iframe_widget > span { width: 100%!important;}