/* Colors */
$header-color: #DB221A;
$footer-color: #363636;
$themes: #F6484F, #0B3D5B, #C41E18, #007B84, #87A700, #D04C41, #821436, #417455, #F4A000;
$single-view-color: $header-color;
$dark-text-color: #363636;
// nth($themes, 1) index starts at 1
/* Sizing */
$header-height-large: 170px;
$header-height-small: 70px;
$footer-height-large: 50px;
$footer-height-small: 30px;

$mobile-nav-breakpoint-min: 800px;

$container-max-width: 1280px;